# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
*.DS_STORE
*.npy
*.py[cod]
*$py.class

*.pth
*.zip
*.json
*.pkl
# C extensions
*.so
.sh
.netrc
data
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.idea
script/wandb
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


/run_scripts
/data
/script/wandb
/saved_models
ScalingTGNs.code-workspace